@media(max-width:1050px) {
    nav {
        display: none;
    }    

/* Con el cambio de display del nav y el #menu pasamos a la versión móvil cambiando el menú principal de navegación al modo oculto en hamburguesa */
    #menu {
        display: block;
        width: 100%;
        line-height: 1em;
        margin-bottom: 1em;
    }

    #menu ul {
        width: 100%;
        padding: 0;
    }

    #menu ul li a {
        font-size: large;
    }    

    #rrcontent {
        justify-content: flex-end;
    }

    .rritem {
        width: 6%;
    }

    article h2 {
        width: 100%;
    }

    section {
        width: 100%;
    }

    footer p {
        font-size: smaller;
        word-spacing: 0em;
        letter-spacing: 0em;
    }
}