body>figure {
    width: 100%;
    height: 38vw;
    background-image: url(../IMG/juegosPortada.png);
    background-size: cover;
    background-position: bottom;
}
    h1 {
        width: 100%;
        height: 2em;
        line-height: 2em;
        font-size: 3vw;
        background-color: green;
        color: white;
        text-align: center;
    }
figcaption{
    text-align: center;
    color: darkgreen;
}
    .portadaimg {
        width: 100%;
    }
    .juegosflex {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .juegos {
        width: 20%;  
    }
    .juegos:hover {
            filter: brightness(125%);
        }
    .juegosimg {
        width: 100%; 
        border: solid .2em darkgreen; 
    }
    @media(max-width:1050px){
        .juegos{
            width: 40%;
            margin: 2%; 
        }
        .juegosflex{
          flex-wrap: wrap;  
        }
    @media(max-width:750px) {
        .juegos {
            width: 100%;
            margin: 10%;
        }
     }
    }