    * {
        text-align: center;
    }
    #mapa {
        height: 600px;
    }
        h1 {
        width: 100%;
        height: 2em;
        line-height: 2em;
        font-size: 3vw;
        background-color: green;
        color: white;
    }

    main div{
        display: flex;
        justify-content: center;
    }
    main div article{
        width: 20%;
        text-align: center;
    }
/* mas adelante se insertara js para que las flechas funcionen pasando centros */
#conteprinfleycen {
    width: 100%;
    height: auto;
    padding: 1.25rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centrosencolumn {
    width: auto;
    height: auto;
    column-count: 3;
    text-align: center;
}

/* son las cajas con las fotos y los nombres de los centros */
#conteprinfleycen article {
    width: 15rem;
    margin: 0vw auto;
    height: 17rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0.75vw 0.75vw 1.25vw #00000080;
    opacity: 0.6;
}

#conteprinfleycen h3 {
    width: 90%;
    margin: 0.5vw auto;
    background-color: #8fb945;
    color: #1e6d3c;
    height: 5rem;
    font-size: 1.5rem;
    /* con space evenly se centra verticalmente para que reparta el sobrante independientemente del numero de lineas que ocupe el nombre */
    align-content: space-evenly;
    border-radius: 0rem;
}
article#llanera {
    width: 17rem;
    margin: 0vw auto;
    background: url(../IMG/country-house-2699713_1280.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    border: 0.5rem solid #1e6d3c;
    box-shadow: 1vw 1vw 1.5vw #00000080;
    /* como tenemos column count no puede haber distintas alturas asi que hay que usar scale para que la caja del centro salga mas grande */
    transform: scale(1.05);
}

#machado {
    background: url(../IMG/greenhouse-230671_1280.jpg);
}

#ochoa {
    background: url(../IMG/zanahorias.jpg);
}
.conteflecha {
    width: auto;
    margin: 0vw 2vw;
    height: auto;
}

.imgflecha {
    /* si se sube la medida desconfigura en vista movil porque desborda*/
    width: 2.5rem;
    height: auto;
}
#buttonvercentros {
    background-color: #1e6d3c;
    min-width: 13rem;
    padding: 1.5vw;
    margin: 2vw auto 0rem;
    font-size: 2rem;
    font-weight: bold;
}
    @media(max-width:1050px){
    #menu{
        display: block;
        margin: 0;
        position: relative;
        z-index: 500;
        }
    #accesibilidad {
        width: 5rem;
    }
    #mapa {
        height: 500px;
        margin-top: 2%;
    }
}