h1 {
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: 3vw;
    background-color: green;
    color: white;
    text-align: center;
}
body>figure {
    width: 100%;
    height: 35vw;
    background-image: url(../IMG/materialCaratula.png);
    background-size: 86%;
    background-position: center;
}
main {
    width: 100%;
    height: auto;
}
main figure{
    width: 40%; 
    float: left;
    margin: 4%;
}
main figure img {
    width: 100%;
}
.baja{
    margin-top: 15%;
}
#menu {
    height: 3em;
    line-height: 1em;
    margin-bottom: 1em;
}
@media(max-width:1050px) {
    main div {
        width: 75%;
        font-size: medium;
    }
    #menu {
        width: 100%;
        display: block;
        height: 2rem;
    }
    #menu ul {
        width: 100%;
    }
    #menu ul li a {
        font-size: large;
    }
    nav {
        display: none;
    }
    #rrcontent {
        justify-content: flex-end;
    }
    .rritem {
        width: 6%;
    }
    footer p {
        font-size: smaller;
    }
    #accesibilidad {
        width: 5rem;
    }
    @media(max-width:750px) {
        main figure{
            width: 90%;
        }
    }
}