      /* Primero ponemos un tamaño de reducción ajustado a pantalla pequeña y luego otro más pequeño para versión móvil */
        @media(max-width:1050px) {
            article {
                width: 100%;
            }
            /*Aquí pasamos el logo y la imagen de las frutas a debajo del texto*/
            section div{
                width: 100%;
            }
            section figure img{
                float: none;
                width: 40%;
                margin: 1% 4% 1% 3%;
            }
            .ocultar{
                flex-wrap: wrap;
            }
            .despliega{
                width: 35%;
            }
            main div {
                width: 50%;
                margin: auto;
            }  
            main article div {
                width: 100%;
            }
        }
        @media(max-width:750px) {
            .margenizdo{
               margin-left: 2%; 
            }
        /* Aquí hacemos que las noticias se desplieguen en vertical y no en horizontal */
            article{
                float: none;
                width: 95%;
                margin: 5% 2%;
            }
            section figure img{
                width: 85%;
                margin-bottom: 2%;
            }
            .enlaces{
                margin: 0%;
                flex-direction: column;
            }
            /* Aquí hacemos que los títulos se vayan ajustando al reducir tamaño */
            figcaption h2{
                font-size: 3vw;
            }
            div figure h3{
                font-size: 3vw;
            }
            /* Aquí hacemos que los juegos se desplieguen verticalmente */
            .despliega{
                width: 75%;
                height: auto;
            }
            main div figure{
                margin: 1%;
                text-align: center;
            }
            .activi{
                height: 9.5rem;
            }
        }