@media(max-width:1050px) {
    nav {
        display: none;
    }    

/* Con el cambio de display del nav y el #menu pasamos a la versión móvil cambiando el menú principal de navegación al modo oculto en hamburguesa */
    #menu {
        display: flex;
        width: 10%;
        height: 2.5rem;
        justify-content: flex-start;     
    }
    
    #menuH {
        line-height: 3.5rem;    
    }

    #menu ul li a {
        font-size: large;
    } 

    #ocultarMenu {
        
        position: relative;
        top: 64px;
        left: -43px;
    }   

    #rrcontent {
        justify-content: flex-end;
    }
  
    article h2 {
        width: 100%;
    }

    section {
        width: 100%;
    }

    footer p {
        font-size: smaller;
        word-spacing: 0em;
        letter-spacing: 0em;
    }
}

@media(max-width:700px) {

    #inscripimg {
        width: 100%;
        height: 2.5rem;
        border: solid 0.125rem #efbb3e;
        border-radius: 0.75rem;
    }

    #fotoprin{
        margin-top: .5rem;
    }

    #ocultarMenu {
        top: 56px;   
    }    
                    
    .rritem {
        width: 2rem;
        height: 2rem;
        line-height: 3.75rem;
    }
    
    .rrcontent {
        height: 3.5rem;
        margin-bottom: 0.5rem;
    }

    .logosrs {
        width: 2rem;
        height: 2rem;
    }

    #inscrip {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0.25rem;
    }

    
}