* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    font-size: 2rem;
    cursor: pointer;
    text-align: left;
    height: 2rem;
    position: relative;
    margin-left: 0;
    z-index: 100000;
}

#menu strong {
    font-size: 3rem;
}

#menu ul {
    
    display: none;
}

#menu ul li {
    list-style: none;
    width: 90vw;   
}

#menu ul li a {
    text-decoration: none;
    color: black;
    background-color: #add19e;
    width: 100%;
    text-align: left;
    display: block;
}

#menu ul li a:hover {
    background-color: white;
    color: black;
}

#menu ul li ul {
    display: none;
    position: relative;
}

#menu ul li {
    text-indent: 1rem;
}

#menu ul li ul li a {
    text-indent: 2rem;
    font-style: italic;
    display: block;
}

#menu ul li ul li {
    width: 100%;
}

.ocultarMenu {
    display: none;

}

.ocultarSubMenu {
    display: none;
}